<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <ul class="well">
        <h3>
          <%= group.name %>
        </h3>
        <p>
          <%= group.description%>
        </p>
      </ul>
    </div>
  </div>
</div>